 <h1>Listing events</h1>
<%  order = @listings.keys.sort %>
<%  order.each do |date| %>
  <div style="background: yellow;"><b><%= date %></b></div>
  <% @listings[date].each do |event| %>
      <% e = event[:event] %>
      <% schedules = Schedule.where(staff_id: e.staffs.map(&:id), date: event[:date].to_time) %>
      <div><b><%= event[:title] %></b></div>
      <table>
        <thead>
        <th></th>
        <th><u>STAFF</u></th>
        <th><u>START</u></th>
        <th><u>END</u></th>
        <th><u>VOLUNTEER</u></th>
        <th><u>Click below to:</u></th>
        <th><u>SHADOWS</u></th>
        <th><u>Click below to:</u></th>
        </thead>
        <tbody>        
      
      <% schedules.each do |s| %>
      <tr>
        <td></td>          
        <td><%= s.position.name %></td>
        <td><%= s.shift.start %></td>
        <td><%= s.shift.duration.to_i %></td>
        <td><%= s.accepted_offer.user.username if s.accepted_offer %></td>
        <% if current_user.present? %>
        <td><span id="schedule_offer_<%= s.id %>">
                <% if s.accepted_offer %>
                  <% if s.has_offer_from?(current_user) %> 
                    <%= link_to('Cancel shift', s.accepted_offer, method: :delete, data: { confirm: 'Are you sure?' }) %>
                  <% end %> 
                <% elsif s.has_offer_from?(current_user) then %>
                  <%= render 'offers/pending', :s => s %>                   
                <% else %>
                  <%= render 'offers/signup', :s => s %>                 
                <% end %>
               </span>
        </td>
        <% end %>
      </tr>
      <% end %>
      </tbody>
      </table>
    <% end %>   
  <% end %>
<br>

<% if can?(:create, Event) %><%= link_to 'New Event', new_event_path %><% end %>
