<% if @offer.errors.any? %>
  $("#schedule_offer_<%= @offer.schedule.id %>").html("<p><%= @offer.errors.full_messages.first %></p>");
<% else %>
  $("#schedule_offer_<%= @offer.schedule.id %>").html("<%= escape_javascript(render :partial => 'offers/pending', :locals => { :s => @offer.schedule }) %>");
  <% if can? :update, @offer %>
    $("#manage_offers_<%= @offer.schedule.id %>").html("<%= escape_javascript(render :partial => 'offers/user_offers', :locals => { :s => @offer.schedule }) %>");
  <% end %>
<% end %>