<% if @offer.errors.any? %>
  $("#schedule_offer_<%= @offer.schedule.id %>").html("<p><%= @offer.errors.full_messages.first %></p>");
<% else %>
  $("#schedule_offer_<%= @offer.schedule.id %>").html("<%= escape_javascript(render :partial => 'offers/pending', :locals => { :s => @offer.schedule }) %>");
  $("#approve_offer_<%= @offer.schedule.id %>").html("<%= escape_javascript(render :partial => 'offers/approve', :locals => { :s => @offer.schedule }) %>");
  $("#deny_offer_<%= @offer.schedule.id %>").html("<%= escape_javascript(render :partial => 'offers/deny', :locals => { :s => @offer.schedule }) %>");
<% end %>