<%= form_for(@staff) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br>
    <%= f.collection_select(:event_id, Event.order(:name), :id, :name, { :selected => @staff.event_id }) %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.collection_select(:position_id, Position.order(:name), :id, :name, { :selected => @staff.position_id },  { :id => "position_select"}) %>
  </div>
  <div class="field">
    <%= f.label :shift %><br>
    <%= f.collection_select(:shift_id, Shift.order(:start, :duration), :id, :start_with_duration, { :selected => @staff.shift_id }) %>
  </div>
  <div class="field">
    <%= f.label :permanent_user %><br>
    <%= f.collection_select(:permanent_user, User.all, :id, :username, { :selected => @staff.permanent_user, prompt: true, :include_blank => "No permanent volunteer"}, { :id => "user_select" }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
