<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @staff.event.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @staff.position.name %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @staff.shift.start %>
</p>

<p>
  <strong>Permanent user:</strong>
  <% if @staff.permanent_user %>
  <%= User.find(@staff.permanent_user).username %>
  <% else %>
  None
  <% end %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
